# Fichiers générés par la compilation LaTeX
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.mtc
*.mtc*
*.maf
*.ptc
*.bcf
*.run.xml
*.pygtex
*.pygstyle


# Ignorer les PDF générés (optionnel, à enlever si vous voulez suivre les PDF)
# *.pdf

# Ignorer le dossier de sortie si vous en utilisez un
# out/
# build/
# output/