# Fichiers générés par la compilation LaTeX
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.mtc

# Pour inclure tous les sous-dossiers
**/*.aux
**/*.bbl
**/*.blg
**/*.brf
**/*.idx
**/*.ilg
**/*.ind
**/*.lof
**/*.log
**/*.lot
**/*.out
**/*.toc
**/*.acn
**/*.acr
**/*.alg
**/*.glg
**/*.glo
**/*.gls
**/*.ist
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz
**/*.nav
**/*.snm
**/*.vrb
**/*.xdv
**/*.mtc

Documentation_LakeRes/*.mtc